{% comment %}
Minimal renderer for publications:
- Title (bold, links to paper if provided)
- Citation (italic)
- Optional link (from paperurl or link)
{% endcomment %}

{% assign thelink = post.paperurl | default: post.link %}

<strong class="pub-title">
  {% if thelink %}
    <a href="{{ thelink }}">{{ post.title }}</a>
  {% else %}
    {{ post.title }}
  {% endif %}
</strong>
{% if post.citation %}
  <br><em>{{ post.citation }}</em>
{% endif %}
{% if thelink %}
  <br><a href="{{ thelink }}">Link</a>
{% endif %}
